<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Memorice de Naipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let card of board; index as i">
        <ion-card (click)="flipCard(i)" class="card">
          <ion-card-content>
            <img
              [src]="getCardImage(i, card)"
              [class.flipped]="isFlipped(i)"
              alt="Carta"
            />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="score">Puntaje: {{ score }} / {{ totalPairs }}</div>

  <div class="button-container">
    <ion-button expand="block" color="tertiary" (click)="resetGame()">
      Reiniciar Juego
    </ion-button>
  </div>
</ion-content>




