<ion-header>
  <ion-toolbar class="header-amarillo">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Consejos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let categoria of categorias">
        <ion-card (click)="abrirDetalle(categoria.nombre)" class="categoria-card" [style.border-color]="categoria.color">
          <ion-card-header>
            <ion-card-title>
              <ion-icon [name]="categoria.icono" slot="start" [style.color]="categoria.color" size="large"></ion-icon>
              {{ categoria.nombre }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ categoria.descripcion }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
