.header-morado  { background: #6a1b9a !important; color: white; }

.icono-input {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        object-fit: contain;
        vertical-align: middle;
      }